
@font-face {
    src: url('/fonts/EtelkaMonospace.otf');
}

@font-face {
    src: url('/fonts/EtelkaMonospace-Bold.otf');
}

.background {
    -fx-background-color: transparent;
    /*-fx-background-image: url('/rotr_background.png');*/
    /*-fx-background-size: 1075px 648px;*/
    /*-fx-background-repeat: no-repeat;*/
}

.control-button {
    -fx-background-color: transparent;
    -fx-skin: "ru.zont.rotrlauncher.app.FadeInSkin";
}

.btn-close {
    -fx-graphic: url('/pic/close.png');
}

.btn-mini {
    -fx-graphic: url('/pic/mini.png');
}

.btn-settings {
    -fx-graphic: url('/pic/settings.png');
}

.btn-dis {
    -fx-graphic: url('/pic/ds.png');
}

.btn-vk {
    -fx-graphic: url('/pic/vk.png');
}

.btn-text {
    -fx-font-family: 'Etelka Monospace Pro';
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-line-height: 16px;
    -fx-text-alignment: center;
    -fx-text-fill: #FFFFFF;
}

.btn-text-underscore:hover {
    -fx-underline: true;
}

.btn-connect {
    -fx-background-color: linear-gradient(to right, #0052D4 0%, #4364F7 50%, #6FB1FC 100%);
    -fx-background-radius: 12px;
    -fx-effect: dropshadow( one-pass-box, #0085FF, 17, -3, 0, 0 );
    -fx-skin: "ru.zont.rotrlauncher.app.ConnectSkin";
}

.btn-connect:disabled {
    -fx-effect: none;
    -fx-background-color: linear-gradient(to right, #626262 0%, #8A8A8A 50%, #B4B4B4 100%);
    -fx-opacity: 1;
}

.btn-location {
    -fx-background-color: transparent;
    -fx-text-alignment: left;
}

.title {
    -fx-font-family: 'Etelka Monospace Pro';
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-line-height: 28px;
    -fx-text-fill: #FFFFFF;
}

.body {
    -fx-font-family: 'Etelka Monospace Pro';
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-line-height: 14px;
    -fx-text-fill: #FFFFFF;
}

.online {
    -fx-font-family: 'Etelka Monospace Pro';
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-line-height: 14px;
    -fx-text-fill: #00FF19;
}

.dir {
    -fx-font-family: 'Etelka Monospace Pro';
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 10px;
    -fx-line-height: 12px;
    -fx-text-fill: #c9c9c9;
}

.dir-corrupted {
    -fx-text-fill: #ff3030;
    -fx-font-weight: bold;
}

.settings-item {
    -fx-font-family: 'Etelka Monospace Pro';
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-line-height: 16px;
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
}

.settings-item:hover {
    -fx-background-color: rgba(255,255,255,0.07);
}

.settings-item.selected {
    -fx-background-color: rgba(255,255,255,0.15);
}

.settings-window {
    -fx-font-family: 'Etelka Monospace Pro';
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-line-height: 16px;
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-wrap-text: true;
    -fx-background-color: transparent;
}

.settings-window-section {
    -fx-font-size: 24px;
    -fx-line-height: 26px;
}

.settings-window-textfield {
    -fx-background-color: rgba(255,255,255,0.1);
}

.settings-window-textfield:readonly {
    -fx-text-fill: #a0a0a0;
}

.check-box > .box {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-border-radius: 2px;
}

.check-box:hover > .box {
    -fx-background-color: rgba(255,255,255,0.25);
}

.check-box > .box > .mark {
    -fx-shape: none;
    -fx-padding: 13px;
}

.check-box:selected > .box > .mark {
    -fx-background-color: transparent;
    -fx-background-image: url('/pic/cb_mark.png');
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: #6FB1FC;
    -fx-border-radius: 1px;
}

.scroll-bar:horizontal .track-background,
.scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :#6FB1FC;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 0px;
}
